/* Allgemeines */
body { font-family:"Myriad Pro", "Fedra Sans Std", Arial; color:#000; font-size:18px; text-align:center; margin:0; padding:0; }
a:link { color:#000; text-decoration:none; }
a:visited { color:#000; text-decoration:none; }
a:hover { color:#525252; text-decoration:none; }
a:active { text-decoration:none; }
.roteSchrift { color:#941D1F; }
.row:after { content:""; display:table; clear:both; }
.text_master { width:90%; max-width: 1200px; margin:auto; }
.headline { font-size: 28px; }
.subheadline { font-size: 22px; }
.desktop { display: block; }
.mobile { display: none; }
/**************/

/* Login */
#login_header { position: relative; padding-top:20px; padding-bottom: 20px; background-color: #F8CA30; text-align: left; }
#login_image_container { position: relative; padding-top: 20%; background-color: #525252; color: #FFF; text-align: left; background-image: url('/design/Background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: bottom; }
#login_content { position:relative; width:500px; max-width:90%; min-height:200px; margin:auto; text-align: left; padding-top:50px; padding-bottom: 50px; }
#userlogin { display: none; }
#login_footer_container1 { position: relative; padding-top:30px; padding-bottom: 30px; min-height:200px; background-color: #F8CA30; font-size: 16px; }
.product_container { float:left; width:30%; margin:1.5%; text-align: left; }
.vier_spalten { float:left; width:20%; margin:1.5%; padding:1%; text-align: center; }
#login_footer_container2 { position: relative; min-height:400px; padding-top:30px; padding-bottom: 30px; background-color: #FFF; }
#login_footer_container3 { position: relative; padding:30px; background-color: #E6E6E6; text-align: left; }
#login_footer { position: relative; padding-top:50px; padding-bottom:50px; background-color: #941D1F; color: #FFF; text-align: left; font-size: 16px; }
#login_footer a:link { color:#FFF; text-decoration:none; }
#login_footer a:visited { color:#FFF; text-decoration:none; }

.login_field { width:94%; height:45px; border:1px solid #941D1F; border-radius:5px; background-color:Transparent; color: #000; padding-left:5%; margin-top:5px; margin-bottom:5px; font-size:18px; }
.login_field::placeholder { color:#000; }
.login_field:-ms-input-placeholder { color:#000; }
.login_field::-ms-input-placeholder { color:#000; }
.login_submit { width:100%; height:45px; border:1px solid #941D1F; border-radius:5px; background-color:#941D1F; color: #FFF; margin-top:5px; margin-bottom:5px; font-size:18px; }
.login_submit:hover { background-color:Transparent; color:#000; }

@media only screen and (max-width:576px) { 
    .product_container { width:95%; margin-bottom: 20px; }
    .desktop { display: none; }
    .mobile { display: block; }
}

@media only screen and (max-width:768px) {
    .vier_spalten { width:40%; margin-bottom: 10px; font-size: 14px; }
}

@media only screen and (max-width:992px) { 

}

@media only screen and (max-width:1200px) { 

}

/*********/

/* Dashboard */
#dashboard_background { position: relative; width:100%; background-color: #FFF; }
#dashboard { position: relative; width:100%; max-width: 1280px; margin:auto; color:#000; padding-top: 50px; }
.lastgang_container { position: relative; width:90%; background-color: #FFF; margin:auto; margin-top:20px; padding-top:10px; padding-bottom: 10px; border:1px solid #941D1F; overflow-x: auto; }
#lastgang1 { }
#lastgang2 { display: none; }
#lastgang3 { display: none; }
#lastgang4 { display: none; }
.lastgang_image { width:95%; min-width:600px; margin:auto; }
.headlines { position: relative; width:90%; text-align: left; margin:auto; margin-top: 20px; }
#lastgang_auswahl_headline { position: relative; padding-left: 1%; }
#lastgang_auswahl { position: relative; width:88%; padding:1%; border:1px solid #941D1F; margin:auto; margin-top:20px; margin-bottom: 20px; text-align: left; }
.lastgang_auswahl_button { position:relative; float:left; width:20%; text-align: center; padding-top:30px; padding-bottom: 30px; color: #FFF; background-color: #941D1F; margin:1%; cursor: pointer; border:1px solid #941D1F; }
.lastgang_auswahl_button:hover { background-color: transparent; color:#000; }
#dashboard_menu { float:left; width:20%; min-height: 500px; }
.dashboard_menu_row { position: relative; height:40px; padding-top:15px; width:100%; margin-top:10px; margin-bottom:10px; border:1px solid #F8CA30; }
.dashboard_menu_row:hover { background-color: #F8CA30; }
.dashboard_menu_active { background-color: #F8CA30; }
.dashboard_menu_icon { position:absolute; width:51px; height:51px; left:2px; top:2px; }
#dashboard_content { float:left; width:80%; min-height: 500px; }
#dashboard_content_headline { position: relative; width:90%; height:40px; padding-top:15px; border:1px solid #F8CA30; background-color: #F8CA30; margin:auto; }
#leistungswerte { position: relative; width:88%; border:1px solid #941D1F; margin:auto; margin-bottom: 20px; padding:1%; text-align: left; }
.leistungswert_container { float:left; width:14%; margin: 1%; background-color: #0B3858; padding-top:20px; padding-bottom: 20px; color: #FFF; text-align: center; }
.leistungswert_image { width:100%; }
#leistungswerte_headline { position: relative; padding-left: 1%; }
.chart-container { position: relative; margin: auto; }

@media only screen and (max-width:576px) { 
    .chart-container { position: relative; margin: auto; height: 40vh; width: 120vw; }
}

@media only screen and (max-width:768px) { 
    
}

@media only screen and (max-width:992px) { 
    #dashboard_menu { display: none; }
    #dashboard_content { width:100%; }
    .leistungswert_container { width:31%; font-size:15px; }
    .lastgang_auswahl_button { width:30%; font-size:15px; }
}

@media only screen and (max-width:1200px) { 

}

/*************/